version: 2

golang-docker-base-image: &golang-docker-base-image
  docker:
    - image: cimg/go:1.14
      environment:
        GO111MODULE: "on"
        CGO_ENABLED: 0

linter-image: &linter-image
  docker:
    - image: golangci/golangci-lint:v1.23.8

jobs:
  build:
    <<: *golang-docker-base-image
    steps:
      - checkout
      - run:
          name: "Cross Compile to Mac and Linux"
          command: |
            mkdir -p bin
            GOOS=linux go build -mod=vendor -ldflags="-X main.version=${CIRCLE_TAG}" -o bin/isopod-linux
            GOOS=darwin go build -mod=vendor -ldflags="-X main.version=${CIRCLE_TAG}" -o bin/isopod-darwin
      - persist_to_workspace:
          root: . # Could be absolute or relative to working_directory
          paths:
            - bin

  lint:
    <<: *linter-image
    steps:
      - checkout
      # Smaller $GOGC allows more frequent garbbage collection to address OOMkill in CI.
      # https://github.com/golangci/golangci-lint#memory-usage-of-golangci-lint
      - run: GOGC=50 golangci-lint --verbose run

  unittest:
    <<: *golang-docker-base-image
    steps:
      - checkout
      - run: make test-ci

  vault-integration-test:
    docker:
      - image: cimg/go:1.14
        environment:
          GO111MODULE: "on"
          CGO_ENABLED: 0
      - image: mannimal/vault-cci
        environment:
          SKIP_SETCAP: skip
    steps:
      - checkout
      - run:
          name: Run Tests
          command: |
            export VAULT_ADDR='http://127.0.0.1:8200'
            export VAULT_TOKEN=`curl localhost:8201/client-token`
            curl -H "X-Vault-Token:$VAULT_TOKEN" -H "Content-Type: application/json" -X POST -d '{"value":"bar"}' http://127.0.0.1:8200/v1/secret/foo/test-secret
            curl -H "X-Vault-Token:$VAULT_TOKEN" -X GET http://127.0.0.1:8200/v1/secret/foo/test-secret
            make test-vault

  testdata:
    <<: *golang-docker-base-image
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: VAULT_TOKEN=not-used bin/isopod-linux --deps testdata/isopod.deps test

  publish:
    docker:
      - image: cibuilds/github:0.13
    steps:
      - attach_workspace:
          at: .
      - run:
          name: "Publish Release on GitHub"
          command: |
            ghr -t ${GITHUB_TOKEN} \
              -u ${CIRCLE_PROJECT_USERNAME} \
              -r ${CIRCLE_PROJECT_REPONAME} \
              -c ${CIRCLE_SHA1} \
              -n ${CIRCLE_TAG} \
              -replace ${CIRCLE_TAG} \
              ./bin/

workflows:
  version: 2
  presubmit:
    jobs:
      - build
      - unittest
      - vault-integration-test
      - lint
      - testdata:
          requires:
            - build

  release:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - publish:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
